body {
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,140,0,0.3);
  text-align: center;
}

h1 {
  color: #ff8c00;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
}

select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #ff8c00;
  transition: 0.3s;
}

button:hover {
  background-color: #e07b00;
}

#voltarBtn {
  background-color: #555;
}

#voltarBtn:hover {
  background-color: #444;
}

/* ===== Responsivo ===== */
@media(max-width:480px){
  .container {
    margin: 50px 20px;
    padding: 15px;
  }

  input, select, button {
    padding: 10px;
    font-size: 0.9rem;
  }
}
